/DesktopJavaFramework/build/
/DesktopJavaFramework/dist/
/DesktopJavaFramework/nbproject/private/
/PropertiesManager/build/
/PropertiesManager/dist/
/PropertiesManager/nbproject/private/
/build/
/dist/
/jTPS/build/
/jTPS/dist/
/jTPS/nbproject/private/
/nbproject/private/